[submodule "dotfiles/powerlevel10k"]
	path = dotfiles/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
[submodule "dotfiles/zsh-prompt-benchmark"]
	path = dotfiles/zsh-prompt-benchmark
	url = https://github.com/romkatv/zsh-prompt-benchmark.git
	branch = master
[submodule "dotfiles/zsh-autosuggestions"]
	path = dotfiles/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
	branch = master
[submodule "dotfiles/zsh-syntax-highlighting"]
	path = dotfiles/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
	branch = master
[submodule "dotfiles/gitstatus"]
	path = dotfiles/gitstatus
	url = https://github.com/romkatv/gitstatus.git
	branch = master
[submodule "dotfiles/fzf"]
	path = dotfiles/fzf
	url = https://github.com/junegunn/fzf.git
	branch = master
[submodule "dotfiles/zimfw"]
	path = dotfiles/zimfw
	url = https://github.com/zimfw/zimfw.git
	branch = master
