[user]
	name = Roman Perepelitsa
	email = roman.perepelitsa@gmail.com
	signingkey = 8B060F8B9EB395614A669F2A90ACE942EB90C3DD
[diff]
	tool = meld
[merge]
	tool = meld
[difftool]
	prompt = false
[core]
	pager = diff-so-fancy | less -RFXMx4
	untrackedCache = true
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[submodule]
	recurse = true
	fetchJobs = 0
[rebase]
	autoStash = true
